.root {
  color: lightgray;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.navbar-nav {
  margin-left: auto;
  margin-right: 0 !important;
}

.jumbotron {
  background-image: url(../images/02.1-hero-bg.jpg);
  background-size: cover;
}
.container-grid{
  display: grid;
  height: calc(50vh - 25px);
  color: rgb(153, 26, 26);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.profilepic{
  border-radius: 100%;
  padding-top: 0%;
5
.container-grid p {
  font-style: italic;
  font-size: 24px;
  align-items: flex-end;
}

GIT S
}  
footer {
  position: absolute;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #f5f5f5;
  margin-top: 50px;
}

.cardContainer {
  margin-bottom: 15px;
}

.card {
  margin: 0 auto;
}


h2 {
  font-size: 20px;
  color: darkslategrey;
  font-family: Arial, Helvetica, sans-serif;
}

.card-body p {
  font-size: 15px;
  color: darkslategrey;
  font-family: Arial, Helvetica, sans-serif;
}

.card-bodyB {
  padding-left: 2%;
  font-size: 10px;
}

h5 {
  font-size: 15px;
}

.page-section {
  display: flex;
  justify-content: center;
  padding: 5%
}